
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: linear-gradient(to right, #027bff, #0056b3);
    color: #fff;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content {
    text-align: center;
    margin-top: 50px;
}

h1 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    background-color: #027bff;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

.container {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    width: 650px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    color: #333;
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    transition: transform 0.5s ease;
}

.logo {
    text-align: center;
    margin-bottom: 20px;
    transition: transform 0.3s ease;
}

.logo img {
    width: 100px;
    height: auto;
    transition: transform 0.3s ease;
}

.logo:hover img {
    transform: scale(1.1);
}

.form-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    transition: transform 0.5s ease;
}

.form {
    width: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    visibility: hidden;
}

.form h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #027bff;
}

input {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    width: 80%;
    padding: 10px;
    background-color: #027bff;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
    font-size: 16px;
    transition: background 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

.form-container.right {
    transform: translateX(-100%);
}

.form-container.show-register #registerForm {
    opacity: 1;
    visibility: visible;
}

.form-container.show-login #loginForm {
    opacity: 1;
    visibility: visible;
}

.toggle {
    margin-top: 15px;
    font-size: 14px;
    color: #555;
}

.toggle span {
    color: #027bff;
    cursor: pointer;
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    .container {
        width: 100%;
        padding: 20px;
    }

    .form {
        width: 100%;
    }
}
